/* Univarsal Classes */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
    cursor: default;
}
button, u, a{
    cursor: pointer;
}
input {
    cursor: text;
}

a {
    text-decoration: none;
}
p {
    color: rgba(39, 39, 39, 0.6);
}
.light-bg {
    background: rgba(229, 84, 115, 0.1);
}
.deep-bg {
    background: #e55473;
    color: white;
}
.primColor {
    color: #e55473;
}
.secondaryHeading {
    text-align: center;
    font-size: large;
    font-size: 35px;
    font-weight: 900;
}
.peraPerfect {
    text-align: center;
    margin-bottom: 20px;
}
button:hover {
    background: #000000;
    /* background: rgb(229, 84, 115, 0.8); */
    color: white;
}
span:hover {
    color: #e84266;
}

/* Header Classed */
#header {
    height: 100vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro {
    margin-right: 200px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: start;
}
.intro h1 {
    font-size: 60px;
    font-weight: 900;
    color: #272727;
}
.intro p,
.peraPerfect {
    line-height: 30px;
    font-size: normal;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
}
.intro button,
a {
    width: 130px;
    height: 50px;
    font-size: large;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: white;
}
#header > img {
    height: 100%;
}

/* Main Classes */
#FeaturedFlowers {
    margin-top: 120px;
    margin-left: 20%;
    margin-right: 20%;
    /* width: 60%; */
    width: 60vw;
}
#FeaturedFlowers > h1 {
    margin-bottom: 20px;
}
#FeaturedFlowers > p {
    text-align: center;
    margin-bottom: 20px;
}
.roundFlowers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.roundFlowers > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.roundFlower {
    width: 400px;
    height: 500px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.roundFlowerColor1 {
    background: #f2dee8;
}
.roundFlowerColor2 {
    background: #daf0f1;
}
.roundFlowerColor3 {
    background: #e4ecdb;
}
.roundFlowers h3 {
    margin-top: 20px;
}
.Support {
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.SupportBox {
    /* margin-left: 10%;
    margin-right: 10%;   */
    width: 80%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #f4f4f4;
}
.SupportBox > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* hotDeal */
.hotDeal-container {
    height: 80vh;
    display: flex;
    align-items: center;
}
.hotDeal-container > div {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hotDeal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hotDeal-text h1,
p,
button {
    margin-top: 20px;
}
.hotDeal-text p {
    text-align: center;
}
.hotDeal-text button,
a {
    width: 130px;
    height: 50px;
    font-size: large;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: white;
}
.hotDeal-img {
    width: fit-content;
    height: fit-content;
}
/* instagram */
.instagram {
    margin-top: 50px;

}

.instagramImgs {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 60vw; */
    /* width: fit-content; */
    margin-left: 100px;
}
.instagramImg {
    width: 70%;
    height: 70%;
}
.seeMore {
    margin-top: 100px;
}

.seeMoreImgs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.seeMoreImg1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
}

.email-container {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emailBox {
    background-image: url("images/Rectangle\ 9.png");
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
}
.emailBox h1 {
    color: #272727;
}
.emailBox p {
    margin-bottom: 20px;
}

#email {
    background-color: white;
    border: none;
    color: rgba(39, 39, 39, 0.6);
    width: 400px;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
}
#subs {
    width: 130px;
    height: 50px;
    font-size: large;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: white;
}
.NavigateTop {
    display: flex;
    justify-content: end;
    align-content: end;
    
}
.top {
    margin-right: 50px;
    margin-bottom: -90px;
    width: 50px;
    height: 50px;
    border:  none;
    border-radius: 50%;
    padding: 10px;
}

footer {
    margin-top: 100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    background: #111010;
}
footer h1 {
    color: white;
    text-align: center;
}
.footerText {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
.copy {
    font-size: smaller;
    color: rgba(255, 255, 255, 0.4);
}
