* {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
}
a {
    text-decoration: none;
}
.light-bg {
    background: rgba(229, 84, 115, 0.1);
}
.deep-bg {
    background: #E55473;
    color: white;
}
header {
    height: 100vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro {
    margin-right: 200px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: start;
}
.intro h1 {
    font-size: 60px;
    font-weight: 900;
    color: #272727;
}
.intro p {
    line-height: 30px;
    font-size: normal;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
}
.intro button,
a {
    width: 130px;
    height: 50px;
    font-size: large;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: white;
}
header > img {
    height: 100%;
}
